.cabecalho{
    background-color: rgb(255, 255, 255);
    margin-bottom: 25px;
    padding: 15px;
}

.cabecalho-titulo{
    font-family: Arial, sans-serif;
    font-size: 40px;
    border: 1p;
    background-image: linear-gradient(to bottom, rgb(249, 25, 201), rgb(255, 151, 226), rgb(255, 152, 234));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cabecalho-subtitulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: bold;
    color: rgba(108, 8, 98, 0.804);
}

.hellokitty{
    width: 60px;
    margin-right: 5px;
}

.div-video{
    max-height:380px;
    overflow: hidden;
    position: relative;
}
.video_hellokitty{
    margin-top:-140px;
    width: 100%;
}
.video-source{
    height: auto;
    width: 100%;
}

.div-conteudo{
    display: flex;
    justify-content: center;
    gap: 10px 20px;
    height:400px;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
}

.conteudo-item .icon {
    margin-top: 30px;
    align-items: center;
    width: 60px;
}

.conteudo-item .icon2 {
    margin-top: 40px;
    align-items: center;
    width: 90px;
}
.conteudo-item {
    text-align: center;
    border: 2px solid rgba(138, 25, 126, 0.804);
    border-radius: 8px;
    width:150px;
    height:150px;
    cursor: pointer;
}
  
.conteudo-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.379);
}
  

.rodape{
    background-color: rgb(255, 255, 255);
}

body{
    margin-left:5px;
    background-color: rgb(255, 255, 255);
}